@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Carpool Assist</h1>
    <p class="lead">About Carpool Assist.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            How to get started with Carpool Assist.
        </p>
    </div>
    <div class="col-md-4">
        <h2>How It Works</h2>
        <p>Text about how it works.</p>
    </div>
    <div class="col-md-4">
        <h2>The Rules</h2>
        <p>Text about the rules of Carpool Assist</p>
    </div>
</div>